html
    head
        link(rel="stylesheet" href="/public/index.css" ) 
    body
        h1 User Profile page
        h2.gold Nickname
        div.green.big= nickname

        h2 Profile
        img(src=profileImageURL)
        form(action=`/users/${userId}/profile` method="post" enctype="multipart/form-data")
            input(type="file" name="profile")
            button Upload Profile Picture